@charset "utf-8";

/**** Base Styles ****/


*
{
	box-sizing: border-box;
}
*:before, *:after
{
	box-sizing: border-box;
}

html
{
	background:white;	
	
}



/**** Body Styles ****/



body
{
	width: 100%;
	font-family: "Verdana", Geneva, sans-serif;
	font-size: 16px;
}
html, body
{
	height: 100%;
	position: relative;
}
a 
{
	color: black;
}
nav img
{
	height: 80px;
	
}
nav
{
	margin-bottom: 0px;
	background-color: #FFFCBC;
	font-size: 20px;
	
}
.icon-bar
{
	background-color: grey;
}
/**/
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover
{
	color:black;
	text-decoration:none;
	background-color:#FFFF00;
	outline:0
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>li>a:hover
{
	color:Black;
	background-color:orange;
}


nav ul li a:hover
{
	background-color: #DFB425;
}


/**** Footer Styles ****/

footer {
   position: relative;
   color: white;
   bottom: 0px;
   left: 0px;
   margin-bottom: 0px;
   width: 100%;
   background-color: #B76E79;
   font-size: 16px;
   text-align: center;
   padding: 5px 0px;   
}
#foot
{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
}

#fColumns 
{
	flex: 30%;
	display: block;
	float: left;
	text-align: center;
	padding: 10px;
	position: relative;
}
#qLinks
{
	padding: 0px;
}
#qLinks li 
{
	text-decoration: none;
	list-style-type: none;
	
}

#qLinks li a
{
	color: white;
	
}

/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;*/

/**** Desktop Styles: 768px and greater ****/

@media only screen and (min-width: 768px)
{
	/* Header Navigation Styles */

	nav
	{
		width: 100%;
		height: 80px;
		background-color: #FFFCBC;
	}
	.container
	{
		width: 100%;
		height: 80px;
		background-color: #FFFCBC;
	}


	a.logo
	{
		display: inline;
		display: block;
		margin-left: 0px;
		float: left;
		width: 180px;
		height: 80px;
		
	}
	div.navbar-collapse.collapse
	{
		display: block;
		width: 100%;
	}
	nav ul li
	{
		
		border-left: 1px solid DarkGrey;
		text-align: center;
		width: 20%;
		float: right;
		
	}
	ul.nav.navbar-nav 
	{
		display: block;
		float: right;
		width: 70%;
	}

	ul.nav.navbar-nav > li > a 
	{
		
		line-height: 50px;
		padding: 5px;
		
	}
	


}
/**** Desktop Styles: 768px and lower ****/
@media screen and (max-width: 768px) 
{
	#fColumns
	{
		flex: 100%;
	}
}
