@charset "utf-8";

/**** Header Styles ****/

header
{
	text-align: center;
	color:#B76E79;
	font-size: 45px;
}
.places h2
{
	color: #FAC14F;
	cursor: pointer;
}

/**** Body Styles ****/

.column
{
	float:left;
	width:50%;
	padding: 10px;
}
#loc-body:after
{
	content: "";
	display: table;
	clear: both;
}

.maps
{
	display:block;
	align-items:center;
	margin: auto;
	margin-bottom: 20px;
}

#fb-page
{
	display: block;
	align-items: center;
	margin: auto;
	padding-bottom: 30px;
	height: 500px;
}



/**** Dynamic Styles ****/

@media screen and (max-width: 815px) 
{
	.column
	{
		width: 100%;
	}
}
@media screen and (max-width: 415px) 
{
	#fb-page
	{
		width: 95%;
	}
}

